h1{
   color:red;
   opacity: 0.75;
   font-size: 25px;
}
h2{ color:white;
   opacity: 0.75;
   font-size: 25px;
}
img{size:100px
}
p{
   position:relative;
      left: 20px;
}

body{
   background: rgba(250,58,25,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(250,58,25,1) 0%, rgba(24,45,150,1) 73%, rgba(24,45,150,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(250,58,25,1)), color-stop(73%, rgba(24,45,150,1)), color-stop(100%, rgba(24,45,150,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(250,58,25,1) 0%, rgba(24,45,150,1) 73%, rgba(24,45,150,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(250,58,25,1) 0%, rgba(24,45,150,1) 73%, rgba(24,45,150,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(250,58,25,1) 0%, rgba(24,45,150,1) 73%, rgba(24,45,150,1) 100%);
background: radial-gradient(ellipse at center, rgba(250,58,25,1) 0%, rgba(24,45,150,1) 73%, rgba(24,45,150,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa3a19', endColorstr='#182d96', GradientType=1 );
}
    
p{
 
